* {
  border: none;
  border-radius: 0;
  font-family:
    FantasqueSansM Nerd Font,
    monospace;
  font-weight: bold;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: transparent;

  /* animation */
  transition-property: background-color;
  transition-duration: 0.5s;
}

tooltip {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
}

#workspaces button {
  padding: 2px 2px;
  margin: 0 2px;

  /* animation */
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  border-radius: 8px;
  padding: 2px 10px;

  /* animation */
  transition: all 0.3s ease-in-out;
}

#workspaces button.focused {
  border-radius: 8px;
}

#workspaces button.urgent {
  border-radius: 8px;
}

#workspaces button:hover {
  border-radius: 8px;
}

#custom-arch,
#custom-updates,
#custom-notification,
#custom-weather,
#custom-powermenu,
#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#workspaces,
#tray,
#backlight,
#cpu,
#memory,
#temperature {
  padding: 0px 10px;
  margin: 2px;
  margin-top: 4px;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
}

#custom-arch {
  padding: 0px 16px 0px 8px;
  margin-left: 4px;
}

#workspaces {
  padding: 2px 8px;
}

#cpu {
  border-right: none;
  border-radius: 8px 0 0 8px;
  margin-right: 0;
  padding-right: 8px;
}

#memory {
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  padding-right: 8px;
  padding-left: 8px;
}

#temperature {
  border-left: none;
  border-radius: 0 8px 8px 0;
  margin-left: 0;
  padding-left: 8px;
}

#custom-updates {
  border-right: none;
  margin-right: 0;
  border-radius: 8px 0 0 8px;
  padding-right: 8px;
}

#custom-notification {
  border-left: none;
  margin-left: 0;
  border-radius: 0 8px 8px 0;
  padding-left: 8px;
}

#battery {
  border-right: none;
  margin-right: 0;
  border-radius: 8px 0 0 8px;
  padding-right: 8px;
}

#backlight {
  border-left: none;
  margin-left: 0;
  border-radius: 0 8px 8px 0;
  padding-left: 8px;
}

#pulseaudio {
  border-right: none;
  margin-right: 0;
  border-radius: 8px 0 0 8px;
  padding-right: 8px;
}

#pulseaudio.microphone {
  border-left: none;
  margin-left: 0;
  border-radius: 0 8px 8px 0;
  padding-right: 10px;
}

#custom-powermenu {
  padding: 0px 13px 0px 8px;
  margin-right: 4px;
}
