window {
  font-family:
    FantasqueSansM Nerd Font,
    monospace;
  font-size: 16pt;
  /* background-color: @bar-bg; */
  background-color: rgba(0, 0, 0, 0);
}

button {
  outline-style: none;
  border: none;
  border-width: 0px;
  background-color: @main-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

button:focus {
  background-size: 25%;
  background-color: @wb-act-bg;
}

button:focus {
  background-color: @main-fg;
  color: #242424;
}

button:hover {
  background-color: @wb-act-bg;
  background-size: 30%;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#lock {
  border-radius: 10px;
  margin: 325px 0px 325px 200px;
}

button:hover#logout,
button:hover#suspend,
button:hover#shutdown,
button:hover#reboot {
  border-radius: 10px;
  margin: 325px 0px 325px 0px;
}

button:hover#windows {
  border-radius: 10px;
  margin: 325px 200px 325px 0px;
}

#logout,
#suspend,
#shutdown,
#reboot {
  border-radius: 0px 0px 0px 0px;
  margin: 350px 0px 350px 0px;
}

#lock {
  background-image: image(url("./icons/lock_light.png"));
  border-radius: 20px 0px 0px 20px;
  margin: 350px 0px 350px 200px;
}

#lock:focus {
  background-image: image(url("./icons/lock_dark.png"));
}

#logout {
  background-image: image(url("./icons/logout_light.png"));
}

#logout:focus {
  background-image: image(url("./icons/logout_dark.png"));
}

#suspend {
  background-image: image(url("./icons/sleep_light.png"));
}

#suspend:focus {
  background-image: image(url("./icons/sleep_dark.png"));
}

#shutdown {
  background-image: image(url("./icons/poweroff_light.png"));
}

#shutdown:focus {
  background-image: image(url("./icons/poweroff_dark.png"));
}

#reboot {
  background-image: image(url("./icons/restart_light.png"));
}

#reboot:focus {
  background-image: image(url("./icons/restart_dark.png"));
}

#windows {
  background-image: image(url("./icons/windows_light.png"));
  border-radius: 0px 20px 20px 0px;
  margin: 350px 200px 350px 0px;
}

#windows:focus {
  background-image: image(url("./icons/windows_dark.png"));
}
