* {
  font-family: FantasqueSansM Nerd Font Mono;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @noti-bg-darker;
}

.notification-row {
  outline: none;
  margin: 0px;
  padding: 0px;
}

.notification {
  background: @cc-bg;
  border: 3px solid @border;
  border-radius: 5px;
  margin: 0px -4px 0px 0px;
  box-shadow: none;
  padding: 0px;
}

.notification-content {
  background: @cc-bg;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.close-button {
  background: transparent;
  color: @urgent;
  text-shadow: none;
  padding: 0px;
  border-radius: 5px;
  margin-top: 0px;
  margin-right: -7px;
}

.close-button:hover {
  box-shadow: none;
  background: transparent;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-action {
  border: none;
  border-top: none;
  padding: 0;
  border-radius: 5px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @fg-title;
  background: @noti-bg-focus;
}

.notification-default-action {
  border-radius: 5px;
  margin: 0px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: @noti-bg-darker;
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @noti-border-color;
  border-radius: 5px;
}

.inline-reply-button {
  margin-left: 4px;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  border-radius: 5px;
  color: @text-color;
}

.inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @noti-bg-hover;
}

.image {
  border-radius: 5px;
  margin-right: 10px;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @noti-fg-title;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 16px;
}

.body {
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.control-center {
  background: @cc-bg;
  border: 3px solid @border;
  border-radius: 5px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

/* .blank-window { */
/*   background: transparent; */
/* } */

.widget-title {
  color: @fg-title;
  background: @accent;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.widget-title > button {
  font-size: 1rem;
  color: @text-color;
  text-shadow: none;
  background: @noti-bg;
  box-shadow: none;
  border-radius: 5px;
}

.widget-title > button:hover {
  background: @urgent;
  color: @cc-bg;
}

.widget-dnd {
  background: @accent;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px;
  font-size: large;
  color: @fg-title;
}

.widget-dnd > switch {
  border-radius: 5px;
  background: @noti-bg-darker;
}

.widget-dnd > switch:checked {
  background: @fg-active;
  border: 1px solid @fg-active;
}

.widget-dnd > switch slider {
  background: @cc-bg;
  border-radius: 5px;
}

.widget-dnd > switch:checked slider {
  background: @cc-bg;
  border-radius: 5px;
}

.widget-label {
  margin: 10px 10px 5px 10px;
}

.widget-label > label {
  font-size: 1rem;
  color: @text-color;
}

.widget-mpris {
  color: @text-color;
  background: @accent;
  padding: 5px 10px;
  margin: 5px 10px 5px 10px;
  border-radius: 5px;
}

.widget-mpris > box > button {
  border-radius: 5px;
}

.widget-mpris-player {
  padding: 5px 10px;
  margin: 10px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}
